# Server
PORT=3000
NODE_ENV=development

# Session
SESSION_SECRET=change-me-to-a-long-random-string-please

# Default admin (created on first run; change after login)
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123

# Store settings
STORE_NAME=متجر الوسيط
STORE_CURRENCY=د.م.
DEFAULT_LANGUAGE=ar
